*{
    margin:0px;
}
.bg-container{
    height:100vh;
    display:grid;
    font-family:'Roboto';
    font-size:25px;
    color:white;
}
.box-a{
    margin:5px;
    grid-column:1 / span 2;
    grid-row:1;
    background-color:lightgray;
    padding-left:15px;
    padding-top:15px;
}
.box-b{
    margin:5px;
    grid-column:3/ span 4;
    grid-row:1;
    background-color:lightgray;
    padding-left:15px;
    padding-top:15px;
}
.box-c{
    margin:5px;
    grid-column:1;
    grid-row:2;
    background-color:lightgray;
    padding-left:15px;
    padding-top:15px;
}
.box-d{
    margin:5px;
    grid-column:1;
    grid-row:3;
    background-color:lightgray;
    padding-left:15px;
    padding-top:15px;
}
.box-e{
    margin:5px;
    grid-column:2 / span 5;
    grid-row:2 / span 2;
    background-color:lightgray;
    padding-left:15px;
    padding-top:15px;
}
.box-f{
    margin:5px;
    grid-column:7;
    grid-row:1 / span 3;
    background-color:lightgray;
    padding-left:15px;
    padding-top:15px;
}
.box-g{
    margin:5px;
    grid-column:8;
    grid-row:1 / span 2;
    background-color:lightgray;
    padding-left:15px;
    padding-top:15px;
}
.box-h{
    margin:5px;
    grid-column:8;
    grid-row:3 / span 1;
    background-color:lightgray;
    padding-left:15px;
    padding-top:15px;
}